
html{
    font-size: 20px;
     background-size: 100% 100%;
     font-family: "Courier New", monospace;
}

.container{ 
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;    
}
.container > * {
    padding: 10px;
    flex: 1 100%;
  }


.header{
    background-color: #667292;
    padding-left: 10px;
    color: #f1e3dd;
    min-height: 100px;
   
}



.footer{
    padding-right: 50px;
    background-color: #bccad6;
    color: #f1e3dd;
    min-height: 120px;
    display: flex;
    justify-content: flex-end;

}

.results{
    
    display:flex;
    flex-direction:column;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    background-color:#f1e3dd;
    min-height: 450px;
}

.buttons{
    background-color: #bccad6;
    transition: all .07s ease;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    min-height: 150px;
}



a{
    text-decoration: none;
    color: rgba(0, 0,0, 0.8)
}

#paper{
    border-radius: 8px;
    border: 3px  black;
    margin: 20px;
    width: 200px;
    height: 50px;
    background-color: white;
    color: black;
    
    text-decoration:none;
    font-size: 36px;
    transition-duration: 0.4s;
}

#rock{
    border-radius: 8px;
    border: 3px  black;
    margin: 20px;
    width: 200px;
    height: 50px;
    background-color:  white;
    color: black;
    text-decoration:none;
    font-size: 36px;
    transition-duration: 0.4s;
}

#scissor{
    border-radius: 8px;
    border: 3px  black;
   margin: 20px;
    width: 200px;
    height: 50px;
    background-color:  white;
    color: black;
    text-decoration:none;
    font-size: 36px;
    transition-duration: 0.4s;
}

#paper:hover{
    background-color: rgba(102, 114, 146, 0.8);
    color: white;
}


#rock:hover{
    background-color:  rgba(102, 114, 146, 0.8);
    color: white;
}


#scissor:hover{
    background-color:  rgba(102, 114, 146, 0.8);
    color: white;
}


.choices{
    height: auto;
    display: flex;
    flex-direction: row;
    
}

img{
    max-width: 350px;
    max-height: 350px;
    padding-right: 50px;  
    padding-left: 50px;
     
}


.choices{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: row wrap;
    min-height: 250px;
}

#hPlayerChoice{
    padding-right: 20px;
    text-align: center;
}

#hComputerChoice{
    text-align: center;
    padding-left: 20px;
}
    

.buttonLoaded{
    transform: scale(1.1);
    border-color: gray;
    box-shadow: 0 0 1rem gray;
}

@media all and (min-width: 600px) {
    .results { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .conteiner    { flex: 3 0px; }
    .header { order: 1; } 
    .buttons    { order: 2; }
    .choices { order: 3; }
    .results{ order: 4; }
    .footer  { order: 5; }
    
  }
  