.container{
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-rows: 15% 2% 17% 23% 35% 10%;
     font-family: "Courier New", monospace;
}

.header{
    background-color: #667292;
    padding-left: 10px;
    color: #f1e3dd;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.border{
    background-color: tomato;
}

.footer{
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #bccad6;
    color: #f1e3dd;

}

.results{
    
    display:flex;
    flex-direction:column;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    background-color:#f1e3dd;
}

.buttons{
    background-color: #bccad6;
    display: grid;
    grid-template-columns: 27% 15% 15% 15% 30%;
    grid-template-rows: auto;
    grid-template-areas: ". rock paper scissor ."
    ". hPlayer . hComputer .";
    transition: all .07s ease;
}

#paper{
    grid-area: paper;
}

#rock{
    grid-area: rock;
}

#scissor{
    grid-area: scissor;
}

a{
    text-decoration: none;
    color: rgba(0, 0,0, 0.8)
}

#paper{
    border-radius: 8px;
    border: 3px  black;
    margin:20px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 36px;
    transition-duration: 0.4s;
}

#rock{
    border-radius: 8px;
    border: 3px  black;
    margin:20px;
    background-color:  white;
    color: black;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 36px;
    transition-duration: 0.4s;
}

#scissor{
    border-radius: 8px;
    border: 3px  black;
    margin:20px;
    background-color:  white;
    color: black;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 36px;
    transition-duration: 0.4s;
}

#paper:hover{
    background-color: rgba(102, 114, 146, 0.8);
    color: white;
}


#rock:hover{
    background-color:  rgba(102, 114, 146, 0.8);
    color: white;
}


#scissor:hover{
    background-color:  rgba(102, 114, 146, 0.8);
    color: white;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

img{
    max-width: 100%;
    padding-right: 50px;  
    padding-left: 50px;
    height: 200px;  
}


.choices{
    display: flex;
    justify-content: center;
    text-align: center;
}

#hPlayerChoice{
    grid-area: hPlayer;
    text-align: center;
}

#hComputerChoice{
    text-align: center;
    grid-area: hComputer;
}
    

.buttonLoaded{
    transform: scale(1.1);
    border-color: gray;
    box-shadow: 0 0 1rem gray;
}

